* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul{
  margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 0;
}

li {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 440px;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  border: 1px solid #f6f6fe;
  padding: 16px;
  min-width: 392px;
  height: 100%;
  
}

.item ul {
  margin-top: 16px;
 
}

.item ul li {
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.item ul li:last-child {
  margin-bottom: 0;
}
